* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    color: #666;
    background-color: #ccc;
    font-family: 'Open sans', Helvetica, sans-serif;
}

.bio, .social, .main {
    width: 45%;
    margin: 20px auto;
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 3px 5px #888;
}

.bio, .main {
    display: flex;
    flex-direction: column;
}

p{
    text-align: justify;
}

a {
    text-decoration: none;    
}


/* Bio */

.bio {
    padding: 20px;
    align-items: center;
}

.bio img {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    border: 4px solid #ddd;
}

h1 {
    color: #e04248;
    font-weight: bolder;
    margin-top: 20px;
}

h2 {
    margin: 20px;
    font-weight: 600;
}

.bio a {
    color: #eee;
    font-weight: bolder;
    background-color: #e04248;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}

.bio a:hover {
    background-color: #ee0000;
}


/* Social */

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.soc-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: #aaa;
}

i {
    margin: 10px;
}

.social a *:hover {
    color: #333; 
}


/* Main */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.wrapper {
    margin: 20px 0;
}

.movie {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.movie img {
    flex-grow: 1;
    width: 100px;
    height: auto;
    margin: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 4;
}

h3 {
    margin: 10px;
    font-weight: 600;
}

.info p {
    margin: 20px;
}